/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
}

.btn{
    display: flex;
    color: #0065FC;
    gap: 30px;
}

.btn-header{
    color: #0065FC;
    text-decoration: none;
    border: none;
    margin: 20px;
}

.btn-header:hover{
    border-top: 2px solid #0065FC;
    padding-top: 10px;
}

.rechercher-and-filtres{
    padding-top: 50px;
}

.filtres{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

.btn-filtres{
    margin: 15px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.btn-filtres:hover{
    transform: scale(1.2);
    background-color: #bdd5f8;
}

.btn-rechercher{
    background-color: #0065FC;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 16px;
    border-color: #0065FC;
}

.btn-rechercher .icon-btn{
    display: none;
    color: white;
}

.btn-rechercher:hover{
    cursor: pointer;
}

.form-rechercher{
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
}

input::placeholder{
    color: black;
}

.fa-location-dot{
    color: black;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire{
    padding: 5px;
}

.info{
    margin-top: 50px;
}

.p-info{
    padding: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.card-hebergements{
    display: grid;
    grid-template-columns: 260px 260px 260px;
}

.card-hebergements .card{
    padding: 20px;
}

.card-hebergements img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites{
    padding: 0 50px;
    width: 1440px;
}

.card-activites{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

.card-activites .card{
    padding: 20px;
    width: 320px;
    box-sizing: border-box;
}

.card-activites .card img{
    max-width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Footer ***********/

.footer-container{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    padding-top: 50px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .logo{
        width: 30%;
    }

    .activites {
        width: 100%;
        padding: 0;
    }

    .card-activites {
        grid-template-columns: 200px 200px 200px 200px;
        gap: 20px;
    }

    .card-activites .card {
        width: 100%;
    }

    .card-activites img{
        width: 100%;
        max-height: 200px;
    }

    .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0 20px;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        width: 120px;
        margin: 20px 0;
    }

    .btn{
        display: flex;
        width: 100%;
    }

    .btn-header{
        width: 50%;
        text-align: center;
        padding: 15px 0;
    }

    .text-btn{
        display: none;
    }

    .btn-rechercher .icon-btn{
        display: block;
        font-size: 18px;
        color: white;
    }

    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres h2{
        margin-bottom: 15px;
    }

    .filtres-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hebergements-and-populaires{
        flex-direction: column;
    }

    .populaires{
        order: 1;
    }

    .hebergements{
        order: 2;
    }

    .hebergements, .populaires{
        width: 100%;
    }

    .card-hebergements{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a{
        width: 100%;
    }

    .activites{
        width: 100%;
        padding: 0;
    }

    .card-activites{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card-activites .card{
        width: 100%;
    }

    .card-activites img{
        height: 200px;
    }

    .footer-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}